/ExamPrep1-ThrProgNonBlckJvSrv/build/
/ExamPrep1-ThrProgNonBlckJvSrv/dist/
/ExamPrep1-ThrProgNonBlckJvSrv/nbproject/private/
/ExamPrep2-ThrProgProdCons/build/
/ExamPrep2-ThrProgProdCons/dist/
/ExamPrep2-ThrProgProdCons/nbproject/private/
/ExamPrep3-ThrNonBlckRsbCtrl/build/
/ExamPrep3-ThrNonBlckRsbCtrl/dist/
/ExamPrep3-ThrNonBlckRsbCtrl/nbproject/private/
/ExamPrep4-ExcServCalbInt/build/
/ExamPrep4-ExcServCalbInt/dist/
/ExamPrep4-ExcServCalbInt/nbproject/private/
/ExamPrep4-ExcServCalbInt/src/conf/persistence.xml
/ExamPrep5-REST_API/build/
/ExamPrep5-REST_API/dist/
/ExamPrep5-REST_API/nbproject/private/
/ExamPrep5-REST_API/src/conf/persistence.xml
/ExamPrep6_REST_JSON/build/
/ExamPrep6_REST_JSON/dist/
/ExamPrep6_REST_JSON/nbproject/private/
/ExamPrep6_REST_JSON/src/conf/persistence.xml
/ExamPrep8_Persistence/build/
/ExamPrep8_Persistence/dist/
/ExamPrep8_Persistence/nbproject/private/
/ExamPrep8_Persistence/src/conf/persistence.xml
/ExamPrep9_Persistence/build/
/ExamPrep9_Persistence/dist/
/ExamPrep9_Persistence/nbproject/private/
/ExamPrep9_Persistence/src/conf/persistence.xml
/ExamPrep10_AngularJQuery/build/
/ExamPrep10_AngularJQuery/dist/
/ExamPrep10_AngularJQuery/nbproject/private/
/ExamPrep10_AngularJQuery/src/conf/persistence.xml